.post {
	border: 1px dotted #000;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 10px;
	position: relative;
}
.link {
	text-decoration: none;
	color: #000;
}
.btnDelete {
	padding: 5px 8px;
	border-radius: 10px;
	border: none;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.btnDelete:hover {
	background-color: #b3b3b3;
}
