.inputGroup {
}
.inputGroup input,
.inputGroup textarea {
	display: block;
	width: 100%;
	border: 1px solid #a9a9a9;
	margin-bottom: 10px;
	padding: 10px;
}
.inputGroup textarea {
	height: 200px;
}

.inputGroup label {
	display: block;
	margin-bottom: 10px;
}

.submitPostBtn {
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}
